* {
    margin: 0;
    padding: 0;
}

.container_main {
    min-width: max-content;
    display: flex;
}

.background {
    display: block;
    position: relative;
    min-width: max-content;
    max-width: max-content;
}

.background > img {
    width: 1280px;
    height: 720px;
}

#background_description {
    float: right;
    font-weight: 500;
}

.foreground {
    position: absolute;
    left: 43.5%;
    top: 57%;
    opacity: 80%;
}

.foreground2 {
    position: absolute;
}

.isFinded {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    animation: pulsing 2s infinite;
}

.foreground > img {
    display: block;
}

.btn_block {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 30px;
}

.score_wrapper {
    width: 100%;
    font-size: 20px;
    margin: 20px;
}

@keyframes pulsing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}