* {
    margin: 0;
    padding: 0;
}

.container_main {
    display: flex;
}

.loader {
    position: absolute;
    visibility: hidden;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.background {
    display: block;
    position: relative;
    min-width: max-content;
    max-width: max-content;
}

.background > img {
    width: 1280px;
    height: 800px;
    border: 10px outset orange;
    margin: 10px 0 0 10px;
}

.backgroundDescription {
    width: 90%;
    font-weight: 500;
    border: 5px outset black;
    background: #e49b0f;
    border-radius: 10px;
    margin-left: 20px;
    text-align: left;
}

#backgroundDescription {
    margin: 20px;
}

#btnPrev {
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
}

#btnNext {
    position: absolute;
    left: 15%;
    top: 0;
    width: 85%;
    height: 100%;
}

.foreground {
    position: absolute;
}

.isFinded {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    animation: pulsing 2s infinite;
}

.foreground > img {
    display: block;
}

.score_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

@keyframes pulsing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}